Xcursor.theme: Vanilla-DMZ
Xcursor.size: 25

URxvt*.scrollBar: false
URxvt*.font: xft:envy code r:size=9, xft:umeplus p gothic:size=9

URxvt*.foreground: #F8F8F8
! URxvt*.colorUL: #FF99CC

! non-composited transparency
! URxvt*.transparent: true
! transparency darken 0-99 or lighten 101-200
! URxvt*.shading: 50 

! composited transparency
!URxvt*.depth: 32
!URxvt*.background: [50]#000000

! no transparency
URxvt*.background: #151515


! plugins
URxvt*.perl-ext-common:      default,url-select,keyboard-select,matcher

! urxvt-perls url-select
URxvt*.url-select.launcher:  firefox
URxvt*.keysym.M-u:           perl:url-select:select_next
URxvt*.url-select.button:    2

! urxvt matcher plugin
URxvt*.url-launcher:         mpv
URxvt*.keysym.M-y:           matcher:select
URxvt*.matcher.button:       3
!URxvt*.matcher.rend.0: -Uline

! urxvt-perls keyboard-select
URxvt*.keysym.M-x:           perl:keyboard-select:activate
URxvt*.keysym.M-s:           perl:keyboard-select:search

! compositor background change
URxvt*.keysym.M-i:           command:\033]11;[50]#000000\007
URxvt*.keysym.M-o:           command:\033]11;#151515\007

! disable annoying stuff when pressing ctrl+shift
URxvt*.iso14755: false

URxvt*.keysym.M-p:           urxvt -cd "$(pwd)" &!\n


URxvt*.color0: #2A0150
URxvt*.color1: #FF2457
URxvt*.color2: #4BFF4B
URxvt*.color3: #FFE000
URxvt*.color4: #3DD8FF
URxvt*.color5: #EF2AFF
URxvt*.color6: #64FFC1
URxvt*.color7: #F8F8F8

URxvt*.color8: #B6ADBC
URxvt*.color9: #FF4D76
URxvt*.color10: #7BFF00
URxvt*.color11: #FFFB67
URxvt*.color12: #79A8FF
URxvt*.color13: #DF92F6
URxvt*.color14: #8CFDC5
URxvt*.color15: #F8F8F8
